<!DOCTYPE html>
<html>
    <head>
        <title>ThinQ</title>
    </head>
    <body>
        <h2>Contacts</h2>
        <ol>
            <li>Link to Contact 1</li>
            <li>Link to Contact 2</li>
        </ol>
        <hr>
        <form id="login">
            <label for="Name">
                Name
            </label>
            <input id="Name" name="Name"
                type="text"
                required
            >
            <label for="IPFS">
                IPFS-Id
            </label>
            <input id="IPFS" name="IPFS"
                type="text"
                required
             >
            <input type="button" id="bttnSubmit" value="Add" onclick="function1()">
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            function function1() {
                console.log("function called")
                $.ajax({url: "http://localhost:3001/addAddreess", type:'POST', async: true, data: {
                    ipfs: document.getElementById('login').elements[1].value,
                    name: document.getElementById('login').elements[0].value
                } ,success: function(result){
                    console.log('Request executed sucessfully')
                }});
            }
            /* document.getElementById("bttnSubmit").addEventListener('click', (e) => {
                
            }) */
        </script>
    </body>
</html>