<!DOCTYPE html>
<html>
    <head>
        <title>ThinQ</title>
    </head>
    <body>
        <h2>Contacts</h2>
        <ol>
            <li>Link to Contact 1</li>
            <li>Link to Contact 2</li>
        </ol>
        <hr>
        <form id="login">
            <label for="Name">
                Name
            </label>
            <input id="Name" name="Name"
                type="text"
                required
            >
            <label for="IPFS">
                IPFS-Id
            </label>
            <input id="IPFS" name="IPFS"
                type="text"
                required
             >
            <input type="submit" value="Add">
        </form>
    </body>
</html>