<!DOCTYPE html>
<html>
    <head>
        <title>Chat</title>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <script>
            let socket = io('http://localhost:3001')
            socket.on('connect' , ()=>{
                recip = window.location.pathname.split('/')[2]
                socket.emit('recipid' , {recip:recip} , ()=>{console.log('here')})
            })
        </script>
        <h2>Recipient Name</h2>
        Online Status
        <hr>
        <ul id="inbox" style="list-style-type:none;">
            <li>Sender1: Message1</li>
            <li>Sender2: Message2</li>
        </ul>
        <hr>
        <form id="login">
        <label for="message">
            Enter Message:
        </label>
        <input id="message" name="message"
            type="text"
            required
        >
        <input type="submit" value="Send">
        </form>
        <hr>
        <a href='/'>Address Book</a>
    </body>
</html>