<!DOCTYPE html>
<html>
    <head>
        <title>ThinQ</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <h2>Contacts</h2>
        <ol id="contacts"></ol>
        <hr>
        <form id="login">
            <label for="Name">
                Name
            </label>
            <input id="Name" name="Name"
                type="text"
                required
            >
            <label for="IPFS">
                IPFS-Id
            </label>
            <input id="IPFS" name="IPFS"
                type="text"
                required
             >
            <input type="button" id="bttnSubmit" value="Add" onclick="function1()">
        </form>
        <hr>
        <div>Your NodeId: <%=ipfsid%></div>
        <script>

            $.ajax({url: "http://localhost:3001/getAddress" , type:"GET" , async: false , contentType:"JSON" , success: function(res){
                for(ipfs of Object.keys(res))
                    $("#contacts").append(`<li><a href="/chat/${ipfs}">${res[ipfs]}</a></li>`)
            }})

            function function1() {
                console.log("function called")
                $.ajax({url: "http://localhost:3001/addAddreess", type:'POST', async: true, data: {
                    ipfs: document.getElementById('login').elements[1].value,
                    name: document.getElementById('login').elements[0].value
                } ,success: function(res){
                    $("#contacts").append(`<li><a href="/chat/${res.ipfs}">${res.name}</a></li>`)
                }});
            }
            /* document.getElementById("bttnSubmit").addEventListener('click', (e) => {
                
            }) */
        </script>
    </body>
</html>